/* -----------------------
Header
----------------------- */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--cw);
    border-bottom: 1px solid var(--cline);
}

.header .head_top {
    border-bottom: 1px solid var(--cline);
}

.header .head_top .inner {
    display: flex;
    justify-content: flex-end;
}

.header .head_top .user_area {
    display: flex;
    gap: 30px;
}

.header .head_top .user_area li {
    position: relative;
}

.header .head_top .user_area li::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 1px;
    height: 100%;
    background: var(--cline);
}

.header .head_top .user_area li a {
    display: block;
    font-size: 14px;
    line-height: 29px;
    color: var(--c6);
}

.header .head_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
}

.header .gnb>ul {
    display: flex;
    gap: 24px;
}

.header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 79px;
    padding: 0 8px;
}

.header .gnb .sub {
    display: none;
}

.header .head_wrap .head_customer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .head_wrap .head_customer a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 79px;
}

.header .head_wrap .head_customer a span {
    display: block;
    font-size: 30px;
    line-height: 79px;

}



/* -----------------
main
------------------ */

.main_visual {
    padding: 24px 0 0 0;
    position: relative;
}

.main_visual .content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 16px;
    margin: 0 auto 24px auto;
    max-width: 1600px;
}

.main_visual .main_slide {
    border-radius: 12px;
    overflow: hidden;
}

.main_visual .main_slide .itm {
    position: relative;
    height: 450px;
}

.main_visual .main_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat right 40%/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat right center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center 40%/cover;
}

.main_visual .main_slide .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}

.main_visual .main_slide .itm03::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}

.main_visual .main_slide .itm .slogan {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0, -50%);
    text-align: right;
    color: var(--cw);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main_visual .main_slide .itm03 .slogan {
    right: auto;
    left: 100px;
    text-align: left;
}

.main_visual .slogan strong {
    display: block;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 6px 0;
}

.main_visual .slogan p {
    color: var(--cwb);
    margin: 0 0 24px 0;
}

/* hospital_reservation ----------- */

.main_visual .hospital_reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 30px 32px 30px;
    background: var(--cwb);
    border-radius: 12px;
    border: 1px solid var(--cline);
}

.hospital_reservation legend {
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.hospital_reservation .txt {
    font-size: 14px;
    line-height: 18px;
    color: var(--c6);
    margin: 0 0 32px 0;
}

.hospital_reservation .num {
    display: flex;
    gap: 4px;
    margin: 0 0 16px 0;
}

.hospital_reservation .num input {
    border: 1px solid var(--cline);
    outline: none;
    padding: 8px 24px 8px 12px;
    color: var(--c2);
    border-radius: 4px;
}

.hospital_reservation .num input::placeholder {
    color: var(--c9);
}

.hospital_reservation button {
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 4px;
    background: var(--main);
    color: var(--cline);
    cursor: pointer;
}

.hospital_reservation .agree input {
    vertical-align: -2px;
}

.hospital_reservation .agree label {
    font-size: 14px;
}

.hospital_reservation .agree span a {
    display: inline-block;
    font-size: 14px;
    color: var(--sub);
    line-height: 20px;
    text-decoration: underline;
    text-align: right;
    text-indent: 4px;

}

.hospital_reservation .reservation_link a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.hospital_reservation .reservation_link li:first-child {
    margin: 0 0 4px 0;
}

.hospital_reservation .reservation_link a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}

/* notice_slide ------------ */
.main_visual .notice {
    position: relative;
    display: flex;
    width: 100%;
}

.main_visual .notice .notice_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid var(--cline);
    background: var(--cwb);
}

.main_visual .notice h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--main);
}

.main_visual .notice_slide {
    width: 80%;
    background: var(--cw);
    padding: 9px 16px 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--cline);
}

.main_visual .notice_slide .notice_list a {
    display: flex;
    justify-content: space-between;
}

.main_visual .notice_slide .notice_list p {
    font-weight: 500;
}

.main_visual .notice_slide .notice_list span {
    display: inline-block;
    color: var(--c6);
    font-weight: 300;
}

.main_visual .notice .notice_arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_visual .notice .notice_arrow span {
    color: var(--c9);
    background: var(--cw);
    padding: 4px;
    border: 1px solid var(--cline);
    user-select: none;
    cursor: pointer;
}

.main_visual .notice .notice_arrow .prev span {
    border-bottom: none;
}





/* -----------------------
main doctor
----------------------- */

.main_doctor .content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}

/* 좌측 */

.main_doctor .title h3 {
    margin: 0 0 24px 0;
}


/* 우측 */
.main_doctor .doc_search {
    padding: 8px 8px 8px 24px;
    border-radius: 4px;
    background: var(--cwb);
    margin: 0 0 24px 0;
}

.main_doctor form {
    display: flex;
    align-items: center;
}

.main_doctor form label {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--main);
}

.main_doctor form input[type="text"] {
    outline: none;
    border: 1px solid var(--cline);
    width: 60%;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 0 0 auto;
}

.main_doctor form button {
    outline: none;
    border: 1px solid var(--cline);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 0 0 8px;
    cursor: pointer;
    background: var(--cw);
}

.main_doctor form button span {
    vertical-align: middle;
    color: var(--main);
}

.main_doctor .doc_title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 0 24px 0;
    padding: 0 32px;
}

.main_doctor .doc_title li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 16px 13px 16px;
    color: var(--main);
    border: 1px solid rgba(0, 71, 143, 0.3);
    border-radius: 999px;
    transition: 0.5s;
    user-select: none;
    cursor: pointer;
}

.main_doctor .doc_title li.on {
    background: var(--main);
    color: var(--cwb);
}

.main_doctor .doc_center {
    height: 340px;
}

.main_doctor .doc_center>li {
    display: none;
}

.main_doctor .doc_center>li.on {
    display: block;
}

.main_doctor .doc_center>li.on .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.main_doctor .doc_center>li.on .list a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 16px 16px;
    background: var(--cwb);
    color: var(--c3);
    border: 1px solid var(--cline);
    transition: 0.3s;
}

.main_doctor .doc_center>li.on .list a:hover {
    color: var(--sub);
    background: var(--cw);
}




/* -----------------------
main_service
----------------------- */
.main_service {
    background: var(--cwb);
}

.main_service .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main_service .tit {
    display: flex;
    justify-content: space-between;
}

.main_service .tit h3 {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 24px 0;
    color: var(--c3);
}

.main_service .tit h3::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 0 4px;
    background: var(--sub);
    opacity: 60%;
    vertical-align: 2px;
    margin: 0 8px 0 0;
}

.main_service .tit .more span {
    font-size: 14px;
}


.main_service .sejong_service {
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_service .serv_list {
    position: relative;
    margin: 0 0 40px 0;
}

.main_service .sejong_service .serv_list::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--cline);
}

.main_service .sejong_service .serv_list li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.main_service .sejong_service .serv_list li:not(:last-child) {
    margin: 0 0 4px 0;
}

.main_service .sejong_service .serv_list a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}





.main_service .se_employment {
    display: flex;
    align-items: center;
    gap: 16px;

}

.main_service .se_employment h4 {
    font-size: 18px;
    font-weight: 300;
}

.main_service .se_employment a {
    display: block;
    font-size: 14px;
    color: var(--main);
    padding: 8px 22px;
    border: 1px solid var(--cline);
}




.main_service .sejong_smart {
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_smart h3 {
    margin: 0;
}

.main_service .sejong_smart .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_service .sejong_smart .desc span {
    display: block;
    text-align: center;
    margin: 0 0 24px 0;
}

.main_service .sejong_newsbox {
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_newsbox .news_list {
    position: relative;
}


.main_service .sejong_newsbox .news_list li~li {
    border-top: 1px solid var(--cline);
}


.main_service .sejong_newsbox .news_list a {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 40px;

    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}


.main_service .sejong_newsbox .news_list a::before {
    content: "-";
    display: inline-block;
    font-size: 12px;

}

.main_service .sejong_newsbox .news_list strong {
    font-weight: 700;
    color: var(--sub);
    margin: 0 4px 0 0;
}










/* -----------------------
main_map
----------------------- */
.main_map {
    position: relative;
}

.main_map .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.main_map .map_left {
    display: flex;
    flex-direction: column;
}

.main_map .title {
    margin: 0 0 auto 0;
}

.main_map .call {
    padding: 20px;
    border: 1px solid var(--cline);
    margin: 0 0 8px 0;
    width: 100%;
    text-align: center
}

.main_map .call span {
    font-size: 14px;
}

.main_map .call strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: var(--main);
    margin: 0 0 8px 0;
}


.main_map .location li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.main_map .location li:first-child {
    margin: 0 0 4px 0;
}

.main_map .location a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}


.main_map .map {
    border: 1px solid var(--cline);
}

.main_map .map .desc {
    padding: 16px;
    background: var(--cw);
    border-radius: 8px;
    outline: 1px solid var(--cline);
}

.main_map .map .desc strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.main_map .map .desc a {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px 4px 10px;
    border: 1px solid var(--main);
    color: var(--main);
}


/* -----------------------
quick
----------------------- */

.quick_menu {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background: var(--c3);
}

.quick_menu .inner {
    display: flex;
    align-items: center;
}

.quick_menu .inner li {
    position: relative;
    flex: 1;
    text-align: center;
}

.quick_menu .inner li~li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: var(--c4);
}

.quick_menu .inner li a,
.quick_menu .inner li span {
    display: block;
    padding: 20px;
    color: var(--cg);
}

.quick_menu .inner li span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--cw);
    background: var(--c2);
    user-select: none;
}

.quick_menu .inner .to_top {
    position: absolute;
    top: 0;
    right: 0px;

}

.quick_menu .inner .to_top span {
    width: 58px;
    height: 58px;
    font-size: 15px;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;
    background: var(--main);
    padding: 0;
}

.quick_menu .inner .to_top::after {
    display: none;
}




/* -----------------------
Footer
----------------------- */
.footer {
    background: var(--c4);
}



.footer .foot_wrap {
    padding: 50px 15px 60px 15px;
}

.footer .ft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 64px 0;
}

.footer .ft::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 1px;
    background: var(--c6);
}

.footer .foot_customer {
    display: flex;
    gap: 32px;
}

.footer .foot_customer li a {
    display: block;
    color: var(--cline);
    font-weight: 300;
}

.footer .foot_customer li .strong {
    font-weight: 600;
    color: var(--sub);
}

.footer .foot_family {
    cursor: pointer;
}

.footer .foot_family span {
    position: relative;
    display: block;
    padding: 9px 22px 8px 31px;
    border: 1px solid var(--c9);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--cline);
    user-select: none;
}

.footer .foot_family span::after {
    content: "\e5ce";
    font-family: "material symbols outlined";
    font-size: 16px;
    vertical-align: -3.5px;
    color: var(--sub);
}

.footer .foot_family ul {
    display: none;
}


.footer .addr li {
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--cline);
}

.footer .addr li .tel {
    display: inline-block;
    color: var(--sub);
}

.footer .copy {
    font-size: 14px;
    color: var(--c9);
}









.side {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}