/* -----------------------
Header
----------------------- */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    transform: translate(0, 0);
    background: var(--cw);
    border-bottom: 1px solid var(--cline);
    transition: 0.5s;
}

/* header.on */
.header.on {
    transform: translate(0, -30px);
}

.header .head_top {
    border-bottom: 1px solid var(--cline);
}

.header .head_top .inner {
    display: flex;
    justify-content: flex-end;
}

.header .head_top .user_area {
    display: flex;
    gap: 30px;
}

.header .head_top .user_area li {
    position: relative;
}

.header .head_top .user_area li::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 1px;
    height: 100%;
    background: var(--cline);
}

.header .head_top .user_area li a {
    display: block;
    font-size: 14px;
    line-height: 29px;
    color: var(--c6);
}

.header .head_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 0px;
    background: var(--cwb);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.header .gnb>ul::after {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 1;
    width: calc(100% - 1170px);
    height: 0;
    background: var(--main);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.header .gnb>ul:hover::before {
    height: 450px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    visibility: visible;
    opacity: 1;
}

.header .gnb>ul:hover::after {
    height: 450px;
    visibility: visible;
    opacity: 1;
}

.header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 79px;
    padding: 0 24px;
    white-space: nowrap;
    transition: 0.3s;
}

.header .gnb>ul>li>a:hover {
    color: var(--main);
}

/* 서브메뉴 */
.header .gnb>ul>li .sub {
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 0;
    line-height: 50px;
    padding: 24px 0;
    overflow: hidden;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.header .gnb>ul>li:hover .sub {
    height: 450px;
    visibility: visible;
    opacity: 1;
}

.header .gnb>ul>li .sub>li {
    width: calc(100% - 1170px);
}


.header .gnb>ul>li .sub>li>a {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    padding: 0 32px;
    color: var(--cw);
    white-space: nowrap;
    transition: 0.3s;
}

.header .gnb>ul>li .sub>li:hover>a {
    color: var(--point);
}

.header .gnb>ul>li .sub>li>a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--point);
    transition: 0.3s;
}

.header .gnb>ul>li .sub>li:hover>a::after {
    width: 5px;
}

.header .gnb>ul>li .sub>li .sub_list {
    position: absolute;
    top: 24px;
    left: calc(100% - 1170px);
    z-index: 1000;
    width: calc(1170px - (100% - 1170px));
    height: 426px;
    display: none;
}

.header .gnb>ul>li .sub>li:hover .sub_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header .gnb>ul>li .sub>li .sub_list>li>a {
    display: block;
    font-size: 16px;
    line-height: 50px;
    color: var(--c4);
    white-space: nowrap;
    padding: 0 32px;
}


.header .head_customer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .head_customer a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 79px;
}

.header .head_customer .nav_menu {
    position: relative;
    display: block;
    line-height: 79px;
    user-select: none;
    cursor: pointer;
}

.header .head_customer .nav_menu::before {
    content: "\e5d2";
    font-family: "material symbols outlined";
    font-size: 24px;
    vertical-align: -3px;
    transition: 0.5s;
}


/* =================
header___________gnb.open
버튼 클릭시 생긴 변화 : 메뉴 전체보기
==================*/
.header .gnb.open {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.header .gnb.open::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    background: var(--cwb);
}

.header .gnb.open>ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px;
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .gnb.open>ul::before,
.header .gnb.open>ul::after {
    display: none;
}

.header .gnb.open>ul>li {
    padding: 72px 0 48px 0;
}

.header .gnb.open>ul>li>a {
    position: relative;
    text-align: center;
    line-height: 64px;
    padding: 0;
    margin: 0 0 8px 0;
}


.header .gnb.open>ul>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 5px;
    background: var(--main);
}

.header .gnb.open>ul>li .sub {
    position: static;
    top: 0;
    height: auto;
    padding: 0;
    visibility: visible;
    opacity: 1;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header .gnb.open>ul>li .sub>li {
    width: 100%;
}

.header .gnb.open>ul>li .sub>li>a {
    color: var(--c4);
    text-align: left;
    line-height: 36px;
    padding: 0;
    border-bottom: 1px solid var(--cg);
    margin: 0 0 4px 0;
}

.header .gnb.open>ul>li .sub>li>a::after {
    display: none;
}

.header .gnb.open>ul>li .sub>li .sub_list {
    position: static;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header .gnb.open>ul>li .sub>li .sub_list>li>a {
    font-size: 14px;
    line-height: 30px;
    padding: 0 8px;
}

.header .head_customer .nav_menu.open {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 900;
}

.header .head_customer .nav_menu.open::before {
    content: "\e5cd";
    font-family: "material symbols outlined";
    padding: 12px 14px;
    background: var(--cw);
    border-radius: 50%;
    border: 1px solid var(--cg);
}


/* -----------------
main
------------------ */

.main_visual {
    padding: 24px 0 0 0;
    position: relative;
}

.main_visual .content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 16px;
    margin: 0 auto 24px auto;
    max-width: 1440px;
}

.main_visual .main_slide {
    border-radius: 12px;
    overflow: hidden;
}

.main_visual .main_slide .itm {
    position: relative;
    height: 450px;
}

.main_visual .main_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center 20%/cover;

}

.main_visual .main_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat 70% center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center 40%/cover;
}

.main_visual .main_slide .itm04 {
    background: url(../images/main_visual04.jpg) no-repeat center 60%/cover;
}

.main_visual .main_slide .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
}

.main_visual .main_slide .itm03::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
}

.main_visual .main_slide .itm .slogan {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    text-align: right;
    color: var(--cw);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main_visual .main_slide .itm01 .slogan {
    top: 40px;
    transform: translate(0, 0);
}

.main_visual .main_slide .itm03 .slogan {
    right: auto;
    left: 40px;
    text-align: left;
}

.main_visual .itm .slogan strong {
    display: block;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_visual .itm .slogan p {
    margin: 0 0 16px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--cwb);
}

.main_visual .itm .slogan span {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 24px;
    right: 34px;

    display: flex !important;
    gap: 6px;
}

.main_visual .slick-dots li button {
    border: none;
    outline: none;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.main_visual .slick-dots .slick-active button {
    background: var(--point);
}









/* hospital_reservation ----------- */

.main_visual .hospital_reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 30px 32px 30px;
    background: var(--cwb);
    border-radius: 12px;
    border: 1px solid var(--cline);
}

.hospital_reservation legend {
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.hospital_reservation .txt {
    font-size: 14px;
    line-height: 18px;
    color: var(--c6);
    margin: 0 0 32px 0;
}

.hospital_reservation .num {
    display: flex;
    gap: 4px;
    margin: 0 0 16px 0;
}

.hospital_reservation .num input {
    border: 1px solid var(--cline);
    outline: none;
    padding: 8px 24px 8px 12px;
    color: var(--c2);
    border-radius: 4px;
}

.hospital_reservation .num input::placeholder {
    color: var(--c9);
}

.hospital_reservation button {
    border: 1px solid var(--cline);
    outline: none;
    padding: 0 12px;
    line-height: 1;
    border-radius: 4px;
    background: var(--main);
    color: var(--cline);
    cursor: pointer;
}

.hospital_reservation .agree input {
    vertical-align: -2px;
}

.hospital_reservation .agree label {
    font-size: 14px;
    cursor: pointer;
}

.hospital_reservation .agree span a {
    display: inline-block;
    font-size: 14px;
    color: var(--sub);
    line-height: 20px;
    text-decoration: underline;
    text-align: right;
    text-indent: 4px;

}

.hospital_reservation .reservation_link a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.hospital_reservation .reservation_link li:first-child {
    margin: 0 0 4px 0;
}

.hospital_reservation .reservation_link a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}

/* notice_slide ------------ */
.main_visual .notice {
    position: relative;
    display: flex;
    width: 100%;
}

.main_visual .notice .notice_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid var(--cline);
    background: var(--cwb);
}

.main_visual .notice h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--main);
}

.main_visual .notice_slide {
    width: 80%;
    background: var(--cw);
    padding: 9px 16px 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--cline);
}

.main_visual .notice_slide .notice_list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_visual .notice_slide .notice_list p {
    font-weight: 500;
}

.main_visual .notice_slide .notice_list span {
    display: inline-block;
    color: var(--c6);
    font-weight: 300;
}

.main_visual .notice .notice_arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_visual .notice .notice_arrow span {
    color: var(--c9);
    background: var(--cw);
    padding: 4px;
    border: 1px solid var(--cline);
    user-select: none;
    cursor: pointer;
}

.main_visual .notice .notice_arrow .prev span {
    border-bottom: none;
}





/* -----------------------
main doctor
----------------------- */

.main_doctor .content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}

/* 좌측 */

.main_doctor .title h3 {
    margin: 0 0 24px 0;
}


/* 우측 */
.main_doctor .doc_search {
    padding: 8px 8px 8px 24px;
    border-radius: 4px;
    background: var(--cwb);
    margin: 0 0 24px 0;
}

.main_doctor form {
    display: flex;
    align-items: center;
}

.main_doctor form label {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--main);
}

.main_doctor form input[type="text"] {
    outline: none;
    border: 1px solid var(--cline);
    width: 60%;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 0 0 auto;
}

.main_doctor form button {
    outline: none;
    border: 1px solid var(--cline);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 0 0 8px;
    cursor: pointer;
    background: var(--cw);
}

.main_doctor form button span {
    vertical-align: middle;
    color: var(--main);
}

.main_doctor .doc_title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 0 24px 0;
    padding: 0 32px;
}

.main_doctor .doc_title li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 16px 13px 16px;
    color: var(--main);
    border: 1px solid rgba(0, 71, 143, 0.3);
    border-radius: 999px;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.main_doctor .doc_title li.on {
    background: var(--main);
    color: var(--cwb);
}

.main_doctor .doc_center {
    height: 340px;
}

.main_doctor .doc_center>li {
    display: none;
}

.main_doctor .doc_center>li.on {
    display: block;
    height: 100%;
}

.main_doctor .doc_center>li:nth-child(2).on,
.main_doctor .doc_center>li:nth-child(3).on {
    position: relative;
    z-index: 1;
    background: url(../images/main_visual01.jpg) no-repeat center -30%/cover;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.main_doctor .doc_center>li:nth-child(2).on::before,
.main_doctor .doc_center>li:nth-child(3).on::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    background: linear-gradient(rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(1px);
}

.main_doctor .doc_center>li.on .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.main_doctor .doc_center>li.on .list a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 16px;
    background: var(--cwb);
    color: var(--c3);
    border: 1px solid var(--cline);
    transition: 0.3s;
}

.main_doctor .doc_center>li.on .list a:hover {
    color: var(--sub);
    background: var(--cw);
}




/* -----------------------
main_service
----------------------- */
.main_service {
    background: var(--cwb);
}

.main_service .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main_service .tit {
    display: flex;
    justify-content: space-between;
}

.main_service .tit h3 {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 24px 0;
    color: var(--c3);
}

.main_service .tit h3::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 0 4px;
    background: var(--sub);
    opacity: 60%;
    vertical-align: 2px;
    margin: 0 8px 0 0;
}

.main_service .tit .more span {
    font-size: 14px;
}


.main_service .sejong_service {
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_service .serv_list {
    position: relative;
    margin: 0 0 40px 0;
}

.main_service .sejong_service .serv_list::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--cline);
}

.main_service .sejong_service .serv_list li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.main_service .sejong_service .serv_list li:not(:last-child) {
    margin: 0 0 4px 0;
}

.main_service .sejong_service .serv_list a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}





.main_service .se_employment {
    display: flex;
    align-items: center;
    gap: 16px;

}

.main_service .se_employment h4 {
    font-size: 18px;
    font-weight: 300;
    text-indent: 2px;
}

.main_service .se_employment a {
    display: block;
    font-size: 14px;
    text-align: center;
    color: var(--main);
    padding: 8px 16px;
    border: 1px solid var(--cline);
}




.main_service .sejong_smart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_smart h3 {
    margin: 0 0 32px 0;
}

.main_service .sejong_smart .smart_desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 56px 0;
}

.main_service .sejong_smart .smart_desc::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--cline);

}

.main_service .sejong_smart .smart_desc span {
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 0 0 24px 0;
}

.main_service .sejong_smart .smart_serv h4 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 12px 0;
}

.main_service .sejong_smart .smart_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.main_service .sejong_smart .smart_list li a {
    display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 500;
    background: var(--main);
    color: var(--cline);
    border-radius: 4px;
}


.main_service .sejong_newsbox {
    padding: 32px;
    background: var(--cw);
    border-radius: 8px;
    border: 1px solid var(--cline);
}

.main_service .sejong_newsbox .news_list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.main_service .sejong_newsbox .news_list li {
    position: relative;
}

.main_service .sejong_newsbox .news_list li~li::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--cline);
}

.main_service .sejong_newsbox .news_list a {
    position: relative;

    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

.main_service .sejong_newsbox .news_list p {
    display: inline-block;
    font-size: 15px;
    line-height: 40px;

    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}



.main_service .sejong_newsbox .news_list a::before {
    content: "\e15b";
    font-family: "material symbols outlined";
    display: inline-block;
    font-size: 12px;
    margin: 0 8px 0 0;
}

.main_service .sejong_newsbox .news_list strong {
    font-weight: 700;
    color: var(--sub);
    margin: 0 8px 0 0;
}

.main_service .sejong_newsbox .news_list span {
    margin: 0 0 0 auto;
    font-size: 12px;
    color: var(--c6);
}










/* -----------------------
main_map
----------------------- */
.main_map {
    position: relative;
}

.main_map .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.main_map .map_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.main_map .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--cline);
}

.main_map .call span {
    display: block;
    margin: 0 0 8px 0;
    font-size: 14px;
}

.main_map .call strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: var(--main);
    margin: 0 0 16px 0;
}


.main_map .location li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--c6);
    background: var(--cw);
    border: 1px solid var(--cline);
}

.main_map .location li:first-child {
    margin: 0 0 8px 0;
}

.main_map .location a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: var(--main);
}


.main_map .map {
    border: 1px solid var(--cline);
}

.main_map .desc {
    position: absolute;
    top: -70px;
    left: -22px;
    background: var(--cw);
    padding: 20px 32px 15px 32px;
    border-radius: 4px;
    border: 1px solid var(--cg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.main_map .desc::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: calc(50% + 1px);
    transform: translate(-50%, 0);
    width: 20px;
    height: 15px;
    background: var(--cw);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.main_map .desc strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    padding: 0 16px;
    text-align: center;
}

.main_map .desc a {
    display: block;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    background: var(--sub);
    color: var(--cw);
    border-radius: 4px;
}


/* -----------------------
quick
----------------------- */

.quick_menu {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background: var(--c3);
}

.quick_menu .inner {
    display: flex;
    align-items: center;
}

.quick_menu .inner li {
    position: relative;
    flex: 1;
    text-align: center;
}

.quick_menu .inner li~li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: var(--c4);
}

.quick_menu .inner li a,
.quick_menu .inner li span {
    display: block;
    padding: 20px;
    color: var(--cg);
}

.quick_menu .inner li span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--cw);
    background: var(--c2);
    user-select: none;
}

.quick_menu .inner .to_top {
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
}

.quick_menu .inner .to_top span {
    padding: 0;
    width: 58px;
    height: 58px;

    font-size: 15px;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: center;

    background: var(--main);

    user-select: none;
}

.quick_menu .inner .to_top::after {
    display: none;
}




/* -----------------------
Footer
----------------------- */
.footer {
    background: var(--c4);
}



.footer .foot_wrap {
    padding: 50px 15px 60px 15px;
}

.footer .ft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 64px 0;
}

.footer .ft::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 1px;
    background: var(--c6);
}

.footer .foot_customer {
    display: flex;
    gap: 32px;
}

.footer .foot_customer li a {
    display: block;
    color: var(--cline);
    font-weight: 300;
}

.footer .foot_customer li .strong {
    font-weight: 600;
    color: var(--point);
}

.footer .foot_family {
    position: relative;
    cursor: pointer;
}

.footer .foot_family span {
    position: relative;
    display: block;
    padding: 9px 22px 8px 31px;
    border: 1px solid var(--c9);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--cline);
    user-select: none;
}

.footer .foot_family span::after {
    content: "\e5ce";
    font-family: "material symbols outlined";
    font-size: 16px;
    vertical-align: -3.5px;
    color: var(--sub);
}

.footer .foot_family ul {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: var(--cw);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
}

.footer .foot_family ul.on {
    height: auto;
    bottom: calc(100% - 1px);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    visibility: visible;
    opacity: 1;
}

.footer .foot_family ul.on li~li {
    border-top: 1px solid var(--cline);
}

.footer .foot_family ul.on li a {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 16px 0;
}

.footer .foot_family ul.on li a:hover {
    color: var(--main);
}


.footer .addr li {
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--cline);
}

.footer .addr li .tel {
    display: inline-block;
    color: var(--point);
}

.footer .copy {
    font-size: 14px;
    color: var(--c9);
}








.header .mobile {
    display: none;
}




@media (max-width:768px) {

    body,
    html {
        overflow-x: hidden;
    }

    .header {
        height: 80px;
    }

    .header.on {
        transform: translate(0, 0);
    }

    .header .head_top {
        display: none;
        border: none;
    }

    .header .head_top .user_area li::after {
        display: none;
    }

    .header .head_wrap {
        display: block;
        height: 0;
        overflow: hidden;
    }

    .header h1 {
        position: absolute;
        top: 24px;
        left: 15px;
        z-index: 1111;
    }

    .header h1 img {
        width: 100%;
        height: 32px;
    }

    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(100%, 0);
        z-index: 1100;
        width: 100%;
        height: 100vh;
        background: var(--cw);
        transition: 0.5s;

    }

    .gnb.on {
        transform: translate(0, 0);
    }

    .header .gnb>ul {
        flex-direction: column;
        margin: 128px 0 0 0;
    }

    .header .gnb>ul::before,
    .header .gnb>ul::after,
    .header .gnb>ul>li .sub>li>a::after {
        display: none;
    }


    .header .gnb>ul>li>a {
        font-weight: 300;
        line-height: 56px;
        color: var(--cwb);
        background: var(--main);
        padding: 0 15px;
    }

    .header .gnb>ul>li>a:hover {
        color: var(--cwb);
    }

    .header .gnb>ul>li~li {
        border-top: 1px solid var(--sub);
    }

    .header .gnb>ul>li .sub {
        position: static;
        top: 0;
        height: 100%;
        padding: 0;
        line-height: 40px;

        visibility: visible;
        opacity: 1;

        display: none;
        transition: 0s;
    }

    .header .gnb>ul>li:hover .sub {
        height: 100%;
    }

    .header .gnb>ul>li .sub>li {
        width: 100%;
    }

    .header .gnb>ul>li .sub>li~li>a {
        border-top: 1px solid var(--cline);
    }

    .header .gnb>ul>li .sub>li>a {
        font-size: 15px;
        font-weight: 700;
        text-align: left;
        color: var(--c4);
        padding: 0 24px;
    }


    .header .gnb>ul>li .sub>li:hover>a {
        color: var(--sub);
    }

    .header .gnb>ul>li .sub>li.on>a {
        color: var(--sub);
    }

    .header .gnb>ul>li .sub>li .sub_list {
        position: static;
        top: 0;
        width: 100%;
        height: 120px;
        border-top: 1px solid var(--cline);
        background: var(--cwb);
        display: none;
        overflow: auto;
    }

    .header .gnb>ul>li .sub>li:hover .sub_list {
        display: none;
    }


    .header .gnb>ul>li .sub>li .sub_list>li~li {
        border-top: 1px solid var(--cline);
    }

    .header .gnb>ul>li .sub>li .sub_list>li>a {
        font-size: 14px;
        line-height: 32px;
        padding: 0 32px;
        background: var(--cwb);
    }


    .header .head_customer {
        position: fixed;
        top: 100%;
        bottom: 0;
        left: 100%;
        right: 0;
        z-index: 1100;

        display: flex;
        justify-content: space-evenly;
        gap: 0;

        width: 100%;
        height: 48px;
        transition: 0.5s;

        border-top: 1px solid var(--cline);
    }

    .header .head_customer.on {
        left: 0;
    }

    .header .head_customer li~li {
        border-left: 1px solid var(--cline);
    }

    .header .head_customer a {
        display: block;
        line-height: 48px;
        padding: 0 56px;
        white-space: nowrap;
    }

    .header .head_customer .nav_menu {
        display: none;
    }

    .header .mobile {
        position: fixed;
        top: 30px;
        right: 15px;
        z-index: 1111;
        display: flex;
        gap: 8px;
        color: var(--main);

        user-select: none;
        cursor: pointer;
    }



    .main_visual {
        padding: 0;
    }

    .main_visual .content {
        display: block;
        margin: 0 0 16px 0;
    }

    .main_visual .main_slide {
        border-radius: 0 0 0 56px;
        margin: 0 0 16px 0;
    }

    .main_visual .main_slide .itm {
        height: 280px;
    }

    .main_visual .main_slide .itm01 {
        background: url(../images/main_visual01.jpg) no-repeat 90% center/cover;
    }

    .main_visual .main_slide .itm02 {
        background: url(../images/main_visual02.jpg) no-repeat 90% center/cover;
    }

    .main_visual .main_slide .itm03 {
        background: url(../images/main_visual03.jpg) no-repeat 295% center/cover;
    }

    .main_visual .main_slide .itm04 {
        background: url(../images/main_visual04.jpg) no-repeat 150% center/cover;
    }

    .main_visual .main_slide .itm::before {
        content: "";
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
        width: 75%;
        background: var(--main);
    }

    .main_visual .main_slide .itm .slogan {
        text-align: right;
        right: 24px;
        transform: translate(0, -50%);
        width: calc(70% - 36px);
    }

    .main_visual .main_slide .itm01 .slogan {
        top: 50%;
        transform: translate(0, -50%);
    }

    .main_visual .main_slide .itm03 .slogan {
        left: auto;
        right: 24px;
        transform: translate(0, -50%);
        text-align: right;
    }

    .main_visual .itm .slogan strong {
        font-size: 40px;
    }

    .main_visual .itm .slogan p {
        font-size: 10px;
        margin: 0 0 8px 0;
        letter-spacing: 0.5px;
    }

    .main_visual .itm .slogan span {
        font-size: 14px;
        line-height: 18px;
    }

    .main_visual .slick-dots {
        right: 26px;
    }

    .main_visual .hospital_reservation {
        margin: 0 15px;
        padding: 30px 18px 18px 18px;
        border-radius: 4px;
    }

    .hospital_reservation form {
        margin: 0 0 32px 0;
    }

    .hospital_reservation legend {
        font-size: 24px;
    }


    .hospital_reservation .num input {
        width: 100%;
    }

    .main_visual .notice .notice_wrap {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
        padding: 16px 14px 14px 14px;
        border-radius: 4px;
        border: 1px solid var(--cline);
    }

    .main_visual .notice h3 {
        text-indent: 4px;
    }

    .main_visual .notice_slide {
        order: 2;
        width: 100%;
        padding: 9px 12px 8px 12px;
    }


    .main_visual .notice_slide .notice_list p {

        width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    .main_visual .notice_slide .notice_list span {
        font-size: 12px;
    }

    .main_visual .notice .more span {
        font-size: 14px;
        color: var(--c9);
    }

    .main_visual .notice .notice_arrow {
        position: absolute;
        top: -10px;
        right: 44px;
        transform: rotate(-90deg);
    }





    .main_doctor .content {
        display: block
    }

    .main_doctor .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 24px 0;
    }

    .main_doctor .title h3 {
        margin: 0 0 0 0;
    }


    .main_doctor .doc_search {
        padding: 12px 14px;
        border-radius: 4px;
        border: 1px solid var(--cline);
    }

    .main_doctor form label {
        display: none;
    }

    .main_doctor form input[type="text"] {
        margin: 0;
        width: 100%;
    }

    .main_doctor .doc_title {
        gap: 8px;
        padding: 0;
    }

    .main_doctor .doc_title li {
        font-size: 15px;
        padding: 10px 16px 9px 16px;
    }

    .main_doctor .doc_center {
        height: 100%;
    }

    .main_doctor .doc_center>li:nth-child(2).on,
    .main_doctor .doc_center>li:nth-child(3).on {
        background: transparent;
    }

    .main_doctor .doc_center>li.on .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .main_doctor .doc_center>li.on .list a {
        font-size: 14px;
        padding: 9px 10px 10px 10px;
    }



    .main_service .content {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .main_service .sejong_service,
    .main_service .sejong_smart,
    .main_service .sejong_newsbox {
        padding: 28px;
    }


    .main_map .content {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .main_map .map_left {
        display: block;
    }

    .main_map .title {
        margin: 0 0 16px 0;
    }

    .main_map .call {
        display: block;
        height: auto;
        padding: 24px;
        margin: 0 0 8px 0;
    }

    .main_map .call span {
        margin: 0 0 4px 0;
    }

    .main_map .call strong {
        font-size: 20px;
        margin: 0 0 12px 0;
    }


    .quick_menu {
        background: var(--c4);
    }

    .quick_menu .inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        gap: 1px;
    }

    .quick_menu .inner li:nth-child(1) {
        grid-row: 1 / 1;
    }

    .quick_menu .inner li:nth-child(2) {
        grid-template-rows: 2 / 3;
    }

    .quick_menu .inner li~li::after {
        display: none;
    }

    .quick_menu .inner li a {
        display: block;
        padding: 16px;
        font-size: 14px;
        color: var(--cg);
        background: var(--c3);
    }

    .quick_menu .inner li span {
        display: block;
        padding: 16px;
        font-size: 14px;
        color: var(--cg);
    }

    .quick_menu .inner .to_top {
        top: -41px;
    }

    .quick_menu .inner .to_top span {
        width: 42px;
        height: 42px;
        font-size: 12px;
        line-height: 38px;
        color: var(--cw);
    }


    .footer .ft {
        display: block;
    }

    .footer .foot_customer {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px;
        margin: 0 0 32px 0;
    }

    .footer .foot_family {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1000;
        display: inline-block;
    }


    .footer .addr li {
        font-size: 14px;
    }

}